@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;700&display=swap');

/* General setup */

* {
    box-sizing: border-box;
    /*font-family: montserrat, sans-serif;*/
    /*font-weight: normal;*/
    font-family: 'Syne', sans-serif;
    font-weight: normal;
    line-height: 1.5;
}

body {
    margin: 0 auto;
    min-width: 1000px;
    max-width: 1400px;
}

main {
    display: inline-block;
    width: 50%;
    margin-left: 30px;
}

/* Layout */

section {
    float: left;
    width: 100%;
}

aside {
    float: right;
    width: 20%;
    position: sticky;
    top: 30px;
}

nav {
    float: left;
    width: 20%;
    position: sticky;
    top: 30px;
}

footer {
    clear: both;
}

header, section, aside, nav, footer {
    padding: 20px;
}

h1, h2 {
    font-family: 'Syne', sans-serif;
    font-weight: bold;
}

/* header and footer */

header, footer {
    border-top: 5px solid #cf8e1f;
    border-bottom: 5px solid #cf8e1f;
}
