/* General setup */

* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    min-width: 1000px;
    max-width: 1400px;
}

main {
    display: inline-block;
    width: 50%;
    margin-left: 30px;
}

/* Layout */

section {
    float: left;
    width: 100%;
}

aside {
    float: right;
    width: 20%;
    position: sticky;
    top: 30px;
}

nav {
    float: left;
    width: 20%;
    position: sticky;
    top: 30px;
}

footer {
    clear: both;
}

header, section, aside, nav, footer {
    padding: 20px;
}

/* header and footer */

header, footer {
    border-top: 5px solid #cf8e1f;
    border-bottom: 5px solid #cf8e1f;
}

/* WRITE YOUR CODE BELOW HERE */